<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>&copy; 2023 - LanchesMac</h4>
                    <p class="text-justify">
                        Aqui você encontra aquele lanche que enche sua boca de água acompanhado a sua bebida favorita.
                        Que tal dividir uma belissima sobremesa com um familiar ou a pessoa amada?
                        Não perca tempo e peça já o seu!
                    </p>
                </div>
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Tem alguma dúvida?</h4>
                    <li class="py-1">Julio campolino do amaral, S/N</li>
                    <li class="py-1">48 99174-0857</li>
                    <li class="py-1"><a href="simones.fabio94@gmail.com" style="color: yellow" >E-mail</a></li>
                </div>
            </div>
        </div>
    </nav>
</footer>