<div class="container">
    <img src="~/images/conversa.png" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer.</h3>
        <p>
            Se você tiver algum dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco="simones.fabio94@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/flip-phone.png" />
            </span>
            <h5>(48) 99174-0857</h5>
            <br />
            <span>
                <img src="~/images/botao-de-inicio.png" />
            </span>
            <h5>Rua Hortência de Souza Vieira S/N - 88-161-384 - Biguaçu</h5>
        </p>
    </div>
</div>